@using Agility.Models
@using Agility.NET.FetchAPI.Helpers
@using Agility.NET.FetchAPI.Models.API

@model ContentItemResponse<Post>

<script>
	function redirect(url) {
		console.log(url);
		window.location.href = `/blog/${url}`;
	}
</script>

<div class="relative px-8 mb-8">
	<div class="flex flex-col sm:flex-row max-w-screen-xl mx-auto pt-8 group">
		<div class="sm:w-1/2 lg:w-2/3 sm:rounded-t-none sm:rounded-l-lg relative">
			<a onclick="redirect('@Model.Fields.Slug')"
			   class="cursor-pointer">
				<div class="h-64 sm:h-96 relative overflow-hidden">
					<img src="@Model.Fields.Image.Url"
						 class="object-center rounded-t-lg sm:rounded-l-lg sm:rounded-t-none object-fill"
						 alt="@Model.Fields.Image.Label" />
				</div>
			</a>
		</div>
		<div class="sm:w-1/2 lg:w-1/3 bg-gray-100 p-8 border-2 border-t-0 rounded-b-lg sm:rounded-bl-none sm:rounded-r-lg sm:border-t-2 sm:border-l-0 relative">
			<a onclick="redirect('@Model.Fields.Slug')"
			   class="cursor-pointer">
				@if (Model.Fields.Category != null)
				{
					<div class="font-display uppercase text-primary-500 text-xs font-bold tracking-widest leading-loose after:content">
						@Model.Fields.Category?.Fields.Title
					</div>
				}
				<div class="border-b-2 border-primary-500 w-8"></div>
				<div class="mt-4 uppercase text-gray-600 italic font-semibold text-xs">
					@Model.Fields.Date.ToShortDateString()
				</div>
				<h2 class="font-display text-secondary-500 mt-1 font-black text-2xl group-hover:text-primary-500 transition duration-300">
					@Model.Fields.Title
				</h2>
				<p class="text-sm mt-3 leading-loose text-gray-600 font-medium">
					@Html.Raw(Model.Fields.Content.Substring(0, 250))...
				</p>
			</a>
		</div>
	</div>
</div>