@using Agility.NET.FetchAPI.Models.API
@using Agility.Models
@model System.Collections.Generic.List<ContentItemResponse<Post>>


<script>
	function redirect(url) {
		window.location.href = `/blog/${url}`;
	}
</script>

@if (!@Model.Any())
{
	<div class="mt-44 px-6 flex flex-col items-center justify-center">
	<h1 class="text-3xl text-center font-bold">No posts available.</h1>
	<div class="my-10">
		<a href="/home"
			class="px-4 py-3 my-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:border-primary-700 focus:shadow-outline-primary transition duration-300">
			Return Home
		</a>
	</div>
</div>
}

<div class="relative px-8 mb-12">
	<div class="max-w-screen-xl mx-auto">
		<div class="sm:grid sm:gap-8 sm:grid-cols-2 lg:grid-cols-3">
			@foreach (var post in @Model)
			{
				<a onclick="redirect('@post.Fields.Slug')"
					class="cursor-pointer">
					<div class="flex-col group mb-8 md:mb-0">
						<div class="relative h-64 overflow-hidden">
							<img src="@post.Fields.Image.Url"
								  alt="@post.Fields.Image.Label"
								  class="object-cover object-center rounded-t-lg"
								  layout="fill" />
						</div>
						<div class="bg-gray-100 p-8 border-2 border-t-0 rounded-b-lg">
							@if (post.Fields.Category != null)
							{
								<div class="uppercase text-primary-500 text-xs font-bold tracking-widest leading-loose">
									@post.Fields.Category?.Fields.Title
								</div>
							}
							<div class="border-b-2 border-primary-500 w-8"></div>
							<div class="mt-4 uppercase text-gray-600 italic font-semibold text-xs">
								@post.Fields.Date.ToShortDateString()
							</div>
							<h2 class="text-secondary-500 mt-1 font-black text-2xl group-hover:text-primary-500 transition duration-300">
								@post.Fields.Title
							</h2>
						</div>
					</div>
				</a>
			}
		</div>
	</div>
</div>
