@using Agility.Models
@using Agility.NET.FetchAPI.Helpers
@using Agility.NET.FetchAPI.Models.API
@model ContentItemResponse<Agility.Models.TextBlockWithImage>

<div class="relative px-8">
	<div class="flex flex-col md:flex-row justify-between max-w-screen-xl mx-auto py-20 md:py-24 items-center">
		<div class="md:w-6/12 flex-shrink-0 relative">
			@{
				if (@Model.Fields.PrimaryButton != null)
				{
					<a href="@Model.Fields.PrimaryButton.Href"
					   aria-label="Go to @Model.Fields.Tagline">
						<img src="@Model.Fields.Image.Url"
							 alt="@Model.Fields.Image.Label"
							 style="width: 768px; height: 420px;"
							 class="rounded-lg object-cover object-center cursor-pointer" />
					</a>
				}
				else
				{
					<img src="@Model.Fields.Image.Url"
						 alt="@Model.Fields.Image.Label"
						 style="width: 768px; height: 420px;"
						 class="rounded-lg object-cover object-center" />
				}
			}
		</div>
		<div class="md:w-6/12 mt-16 md:mt-0 @(Model.Fields.ImagePosition != "right" ?  "md:ml-12 lg:ml-16 md:order-last" : "md:mr-12 lg:mr-16 md:order-first")">
			<div class="g:py-8 text-center md:text-left">
				@if (!string.IsNullOrEmpty(Model.Fields.Tagline))
				{
					<span class="font-bold text-primary-500 text-sm text-center md:text-left uppercase">
						@Model.Fields.Tagline
					</span>
				}

				<h2 class="font-display text-4xl font-black text-secondary-500 md:text-3xl lg:text-5xl tracking-wide text-center mt-4 lg:leading-tight md:text-left">
					@Model.Fields.Title
				</h2>
				<p class="mt-4 text-center md:text-left text-sm md:text-base lg:text-lg font-medium leading-relaxed text-secondary-200">
					@Html.Raw(Model.Fields.Content)
				</p>
				@if (Model.Fields.PrimaryButton != null)
				{
					<a class="inline-block mt-8 md:mt-8 px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-500 hover:bg-primary-700 focus:outline-none focus:border-primary-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150"
					   href="@Model.Fields.PrimaryButton.Href"
					   aria-label="Go to @Model.Fields.Tagline">
						@Model.Fields.PrimaryButton.Text
					</a>
				}
			</div>
		</div>
	</div>
</div>